graft src

prune .github
prune data
prune docs
prune ext
prune recipe
prune scripts
prune tests
prune temp

include LICENSE
include README.md
include AUTHORS.md
include CHANGELOG.md
include requirements.txt
include CMakeLists.txt

recursive-include cmake *.cmake

exclude requirements-dev.txt

exclude pytest.ini .bumpversion.cfg .editorconfig .gitmodules
exclude tasks.py
exclude conftest.py
exclude CONTRIBUTING.md
exclude environment.yml

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store *.so
